
<div class="m-4">
  <%= form_tag search_path, method: :get do %>
    <%= text_field_tag :query, params[:query], placeholder: "Let's start...", class:"form-control w-25" %>
    <%= submit_tag 'Search', class:'btn btn-warning mt-2 mb-2' %>
    <h6>Exact match <%= check_box_tag(:match, value = "1", checked = false) %></h6>
    <h6>Exclude words <%= check_box_tag(:negative, value = "1", checked = false) %></h6>
  <% end %>


  <% if @results.present? %>
    <% @results.each do | result | %>
      <div class="card w-50 mb-2">
        <div class="card-body">
          <% result.each do | item | %>
            <h6 class="card-title"><%= "#{item[0]}: #{item[1]}" %></h6>
          <% end %>
          <a href="https://www.google.com/search?q=<%= result.values[0] %>" class="btn btn-primary">Learn more</a>
        </div>
      </div>
    <% end %>
  <% else %>
    <% if params[:query].present? %>
      <%= 'No results' %>
    <% end %>
  <% end %>

  <div>
    <%= link_to "Clear results", root_path, class:'btn btn-danger'%>
  </div>
</div>

